@model RankingPosicaoViewModel

@{
    ViewBag.Title = "Classificação";
}

<div style="width: 550px; margin:10px auto 0 auto;">
    <table>
        <tr>
            <td><img src="/Images/Jogador/large-@(Model.JogadorId).png" alt="" width="250" height="250" style="margin-right: 10px;" /></td>
            <td valign="top">
                <h2 style="font-size: 2em; color: #003572">@Model.Jogador</h2>
                <span style="font-size: 72px;">@(Model.Posicao)º</span>
                <p>Pontuação:</p>
                <span>Ranking (@Model.PontoRanking)</span> |
                <span>Fortuna (@Model.PontoFortuna)</span>
            </td>
        </tr>
    </table>
</div>

@section PageStyle
{
    <style type="text/css">
        body {
            background-color: #E0ECEE;
        }

        img {
            border: solid 10px #ffffff;
            border-radius: 150px;
        }
    </style>
}